*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.content {
  margin: 135px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1200px;
  height: 534px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  box-sizing: border-box;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  overflow: hidden;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  min-width: 399px;
  min-height: 534px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label .search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  display: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form__label .search-form__checkbox:checked ~ .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  background-color: #1b1919;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: none;
  width: 225px;
  height: 27px;
  appearance: none;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-height: 298px;
  overflow: scroll;
  overflow-x: hidden;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link:focus {
  border: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 90%;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  max-width: 100%;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #1b1919;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  padding: 6px 73px;
  margin-top: 20px;
}

.more-button {
  padding: 6px 129px;
}